body {
  background: #555;
  color: #eee;
  font-family: sans-serif;
}
section {
  display: block;
  margin: 0 auto 1em auto;
  width: 288px;
}
h1 {
  text-indent: -100%;
  background: url('/i/stuck.svg') no-repeat;
  background-size: contain;
}
svg {
  background: #fff;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2);
}
image {
  border-radius: 50%;
  clip-path: url(#circle);
}
input {
  width: 100%;
  padding: 0.5em;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2);
}

@media print {
  @page {
    size: 4in 6in;
    margin: 0;
    padding: 0;
    width: 4in;
    height: 6in;
  }
  svg, body {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  section {
    display: none;
  }
  svg {
    width: 4in;
    height: 6in;
  }
  image {
    clip-path: none;
  }
}
